@font-face {
  font-family: "AritaburiKR";
  src: url("../fonts/AritaBuriKR-Light.woff2") format("woff2"),
    url("../fonts/AritaBuriKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "AritaburiKR";
  src: url("../fonts/AritaBuriKR-Medium.woff2") format("woff2"),
    url("../fonts/AritaBuriKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "AritaburiKR";
  src: url("../fonts/AritaBuriKR-SemiBold.woff2") format("woff2"),
    url("../fonts/AritaBuriKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "AritaburiKR";
  src: url("../fonts/AritaBuriKR-Bold.woff2") format("woff2"),
    url("../fonts/AritaBuriKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "AritaburiKR", serif;
  transition: 0.5s;
}
/* goto-top-----------------*/
.scrollTop_btn_pc {
  position: fixed;
  right: 3rem;
  bottom: 15rem;
  width: 5rem;
  height: 5rem;
  background: url(../image/goto2.png) no-repeat center/contain;
  background-color: #f4f1ec;
  transition: opacity 0.25s;
  z-index: 1200;
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  border: 0.15rem solid #f4f1ec;
  text-indent: -9999px;
}
.scrollTop_btn_pc.show {
  opacity: 1;
  pointer-events: auto;
}
.scrollTop_btn_pc:hover {
  background: url(../image/goto1.png) no-repeat center/contain;
  background-color: #f4f1ec;
  transition: background-color 0.35s;
  border: 0.15rem solid #f4f1ec;
  border-radius: 50%;
}
