@charset "utf-8";

/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

body {
  font-family: "NanumSquareAc", sans-serif;
  overflow-x: hidden;
  background-color: #F4F1EC;
  line-height: 1.5;
  transform: none; 
}
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
  display: block;
}
